<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,shrink-to-fit=no">
  <title><%= site.title %></title><% if (site.favicon) { %>
  <link rel="shortcut icon" href="<%= site.favicon %>"><% } %>
  <link rel="stylesheet" type="text/css" href="css/slick.min.css" />
  <link rel="stylesheet" type="text/css" href="css/slick-theme.min.css" />
  <link rel="stylesheet" type="text/css" href="css/prism.css" />
  <link rel="stylesheet" type="text/css" href="css/highlightjs/default.css">
  <link rel="stylesheet" type="text/css" href="css/markdown.css">
  <link rel="stylesheet" type="text/css" href="css/popup.css" />
  <link rel="stylesheet" type="text/css" href="css/main.css" /><% if (site.customCSS) { %>
  <link rel="stylesheet" type="text/css" href="css/custom.css" /><% } %>
</head>

<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <div id="root"></div>
  <script type="text/javascript" src="js/main.js"></script>
</body>

</html>